doctype html
html(lang='en')

  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='Portfolio of Wei (David) Dai')
    meta(name='author', content='Wei Dai')
    title Wei (David) Dai - Portfolio
    link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

    // Font Awesome
    script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')
    // Google Fonts
    link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')
    // Bootstrap Theme CSS
    link(href='css/styles.css', rel='stylesheet')

  body#page-top

    // Nav
    nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
      a.navbar-brand.js-scroll-trigger(href='#page-top')
        span.d-block.d-lg-none Wei Dai
        span.d-none.d-lg-block
          img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='Profile Picture')
      button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive')
        span.navbar-toggler-icon
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#about') About
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#experience') Experience
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#education') Education
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#skills') Skills

    // Page Content
    .container-fluid.p-0

      section#about.resume-section
        .resume-section-content
          h1.mb-0 Wei 
            span.text-primary (David) Dai
          .subheading.mb-5
            | Fort Wayne, IN · +1 260-564-0301 · 
            a(href='mailto:david0322v@gmail.com') david0322v@gmail.com
          p.lead.mb-5 I am a sophomore majoring in Computer Engineering with a minor in Computer Science. I'm passionate about AI, embedded systems, and software-hardware integration. I enjoy solving real-world problems with creative and technical solutions.
          .social-icons
            a.social-icon(href='https://github.com/VitaminDMilk')
              i.fab.fa-github
            a.social-icon(href='mailto:david0322v@gmail.com')
              i.fas.fa-envelope

      hr.m-0

      section#experience.resume-section
        .resume-section-content
          h2.mb-5 Experience

          .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
            .flex-grow-1
              h3.mb-0 Intern – Utopilot, SAIC
              .subheading.mb-3 Shanghai, China
              p Worked in the autonomous driving perception department using point cloud and OCC to convert visual images.
            .flex-shrink-0
              span.text-primary Summer 2024

          .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
            .flex-grow-1
              h3.mb-0 IT Helpdesk – Purdue Fort Wayne
              .subheading.mb-3 Fort Wayne, IN
              p Provided technical support, managed laptop distribution, resolved software/hardware issues.
            .flex-shrink-0
              span.text-primary 2024–2025

          .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
            .flex-grow-1
              h3.mb-0 Hackathons & Competitions
              .subheading.mb-3 
              p Led teams in IEEE Xtreme (Top 50 nationally), Global Game Jam (2024), and participated in National Cyber League.
            .flex-shrink-0
              span.text-primary 2023–2024

      hr.m-0

      section#education.resume-section
        .resume-section-content
          h2.mb-5 Education
          .d-flex.flex-column.flex-md-row.justify-content-between
            .flex-grow-1
              h3.mb-0 Purdue University Fort Wayne
              .subheading.mb-3 Bachelor of Science
              p Major: Computer Engineering · Minor: Computer Science · GPA: 3.65/4.0
            .flex-shrink-0
              span.text-primary August 2023 – May 2027

      hr.m-0

      section#skills.resume-section
        .resume-section-content
          h2.mb-5 Skills
          .subheading.mb-3 Languages & Technologies
          ul.list-inline.dev-icons
            li.list-inline-item Java
            li.list-inline-item Python
            li.list-inline-item C++
            li.list-inline-item JavaFX
            li.list-inline-item Unity
            li.list-inline-item SceneBuilder
            li.list-inline-item AutoCAD
            li.list-inline-item MATLAB
            li.list-inline-item Arduino
          .subheading.mb-3 Spoken Languages
          p Chinese (Native), English (TOEFL 101), Spanish (Intermediate)

      hr.m-0

      section#projects.resume-section
        .resume-section-content
          h2.mb-5 Projects

          .mb-3
            h3 Black Jack Simulator
            p A Java-based GUI game simulating Blackjack. Involves GUI (JavaFX), OOP, UML design, and event-driven logic.

          .mb-3
            h3 Auto Loan Calculator
            p JavaFX application to calculate auto loans based on price, tax rate, down payment. Covers GUI design, formulas, and styling.

          .mb-3
            h3 Bank Simulator
            p Console-based Java application simulating basic banking operations like deposits, withdrawals, expense tracking.

    // JS scripts
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')
    script(src='js/scripts.js')
